.navbar{
    background-color:rgba(225, 225, 225, )!important;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px
}

.navMargin{
    margin-left: 80%;
}
/* ************************************Menu********** */

.menuBackground{
    position: absolute;
    min-height: 100%; 
    width: 100%;
    background-image: url("../src/photos/wood.jpg");
    background-size: 100% auto;
    background-position: bottom;
}

.menuFlex-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
    align-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    width: 75%;
     margin-bottom: 40px;
   
}

.menuFlex-container > div {
    justify-content: center;
    width: 500px;
    margin: 10px;
    font-size: 30px;
    border: 3px double #8c8b8b;
    background-color: rgba(0, 0, 0, 0.561);
   
  }

.menuCati{
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
}

  .menuItems{
    -webkit-padding-start: 0!important;
    padding-inline-start: 0!important;
  }

  li{
    list-style-type: none;
  }

  .itemName{
    color: rgb(173, 142, 56); 
  }

  .menuDescripton{
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    color:white;
  }
/* ************************************Home************** */


.home-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  rgb(173, 142, 56);
}
.logoImage{

    background-repeat: no-repeat;
   
    background-position: bottom; 
    background-image: url("../src/photos/Super.png");
}

.homeFlex{
   
    color:black;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    background-image: url("../src/photos/image5.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 10px;
    width:32%;
    height:600px;

   

}

.sideimage{
    color:black;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    background-image: url("../src/photos/image2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 10px;
    width:32%;
    height:600px;
      
}


.sideimage2{
    color:black;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    background-image: url("../src/photos/image3.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 10px;
    width:32%;
    height:600px;
      /* display: none; */
}

.location-container{
    display: flex;
  flex-wrap: nowrap;
  height: 480px;
  justify-content: center;
 
}

.location-container>div {
    border-top: 5px double #0a0a0a;
    border-bottom: 5px double #0a0a0a;
    border-radius: 20px; 
    width: 80%;
    margin: 20px;
    text-align: center;

    font-size: 30px;
  }

  .locat{
    padding-inline-start: 0px !important ;
  }

  .locatTitle{
    font-size: 50px;
    font-weight: 500;
  }

  .loactText{
font-size: 30px;
  }
 
  
  @media (max-width: 1024px) {
    .navMargin {
        margin-left: 5%;
    }
    }

    @media (max-width: 1024px) {
        .loactText {
        font-size: 20px;
        }
        }

@media (max-width: 1024px) {
    .sideimage {
    display: none;
    }
    }

    @media (max-width: 1024px) {
        .sideimage2 {
        display: none;
        }
        }
        @media (max-width: 1499px) {
            .homeFlex {
           width: 45%;
            }
            }

            @media (max-width: 1499px) {
                .sideimage {
               width: 45%;
                }
                }
                @media (max-width: 1499px) {
                    .sideimage2 {
                   display: none;
                    }
                    }
        @media (max-width: 1024px) {
            .homeFlex {
           width: 90%;
           height: 300px;
            }
            }
        

            /* ********************** Footer ********** */

            .fullbody{
            min-height: 100%
            }

            .main{
                overflow: auto;
                padding-bottom: 150px
            }

            .footer-Flex{
                height: 150px;
                position: relative;
                display: flex;
                justify-content: center;
                background-color:#1F1F1F;
                margin-top: -100px;
                clear: both;
            }

            .footer-Flex> div {
              color: #fff;
                margin: 10px;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
               
              }

              .yelpimage{
                  height: 100px;
                  cursor: pointer;
              }

              .ss{
                  padding: 20px
              }

              